
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<head>
    <script>
        window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainer", {
				theme: "light1", // "light1", "light2", "dark1", "dark2"
				exportEnabled: true,
				animationEnabled: true,
				title: {
					text: "Enquiry Request Share"
				},
				subtitles: [{
					text: "Product Package"
				}],
				data: [
					{
						type: "pie",
						startAngle: 180,
						toolTipContent: "<b>{label}</b>: {y}%",
						showInLegend: "true",
						legendText: "{label}",
						indexLabel: "{label} - {y}%",
						dataPoints: @Html.Raw(ViewBag.DataPoints),
					}
				]
			});
			chart.render();

			var chart1 = new CanvasJS.Chart("chartContainer1", {
				theme: "dark1", // "light1", "light2", "dark1", "dark2"
				exportEnabled: true,
				animationEnabled: true,
				title: {
					text: ""
				},
				subtitles: [{
					text: "Service Package"
				}],
				data: [
					{
						type: "pie",
						startAngle: 180,
						toolTipContent: "<b>{label}</b>: {y}%",
						showInLegend: "true",
						legendText: "{label}",
						indexLabel: "{label} - {y}%",
						dataPoints: @Html.Raw(ViewBag.DataPoints1),
					}
				]
			});
			chart1.render();

        };
    </script>
</head>
<body class="sb-nav-fixed">

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Website Analytics</h1>
                <div class="card mb-4">
                    <div class="card-body">
                        Welcome to Blaidon's Dashboard Analysis
                    </div>
                </div>
                <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
                @*<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@

            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="assets/demo/chart-pie-demo.js"></script>
</body>
